@font-face {
  font-family: starjedi;
  src: url(./starjedi/Starjedi.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: starjedi;
  background: url("http://api.thumbr.it/whitenoise-2000x2000.png?background=131414ff&noise=707070&density=19&opacity=14");
  background-repeat: repeat;
  background-size: 100%;
  overflow-x: hidden;
}
